body {
  overflow: overlay;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  height: 6px;
  background-clip: padding-box;
  background-color: #CFCFCF;
  -webkit-border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #909090;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-track-piece,
::-webkit-scrollbar-button,
::-webkit-scrollbar-corner,
::-webkit-scrollbar {
  visibility: hidden;
}

::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}
