body {
  overflow: overlay;
}

::-webkit-scrollbar-thumb {
  height: 6px;
  background-clip: padding-box;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 7px;
  -webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05),
    inset 1px 1px 0px rgba(0, 0, 0, 0.05);
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-track-piece,
::-webkit-scrollbar-button,
::-webkit-scrollbar-corner,
::-webkit-scrollbar {
  visibility: hidden;
}

::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}
