<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {%- include head.html -%}
  <body>
    {%- include noscript.html -%}
    {%- include moon.html -%}
    {%- include header.html -%}
    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>
    <div style="height: 50px;">
    </div>
    {%- include footer.html -%}
    <script>
      window.scrollTo({"top": document.documentElement.clientHeight / 2})
    </script>
  </body>
</html>
