---
layout: default
---

<div class="home">
  {{ content }}
  {%- assign default_category = page.path | split: '.' -%}
  {%- assign category = page.title | default: default_category[0] -%}
  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ category | capitalize }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      {%- if post.categories contains category or category == 'posts' and post.categories == empty -%}
      <li class="{{post.highlight}}">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <span itemprop="duration" itemscope itemtype="http://schema.org/Duration">
          <span class="post-meta" itemprop="name">
            • {{ post.content | number_of_words | divided_by: 200 | plus: 1 }} minute(s)
          </span>
        </span>
        {%- if post.github -%}
        <span class="post-meta">•</span>
        <a href="{{ post.github }}" title="Link to GitHub project">
          <span class="post-meta">
            <svg class="svg-icon">
              <use xlink:href="{{ '/assets/minima-social-icons.svg#github' | relative_url }}">
              </use>
            </svg>GitHub
          </span>
        </a>
        {%- endif -%}
        {%- if post.audio -%}
        <span class="post-meta">• ▶️ audio.mp3</span>
        {%- endif -%}
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        <p>
          {%- if site.show_excerpts -%}
            {{ post.excerpt | strip_html | stip_newlines }}
          {%- endif -%}
        </p>
        {%- if post.image -%}
          <img src="/assets/img/{{post.image}}" width="100%">
        {%- endif -%}
      </li>
      {%- endif -%}
      {%- endfor -%}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%}

</div>
