---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
      • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">
          {% if page.author %}
            {{ page.author }}
          {% else %}
            <a href="/about" style="color: grey;">

              {{ site.author}}
            </a>
          {% endif %}
        </span></span>
      <span itemprop="duration" itemscope itemtype="http://schema.org/Duration">
        <span class="h-card" itemprop="name">
          • {{ page.content | number_of_words | divided_by: 200 | plus: 1 }} minute(s)
        </span>
      </span>
      {%- if page.github -%}
      <span class="post-meta">•</span>
      <a href="{{ page.github }}" title="Link to GitHub project">
        <span class="post-meta">
          <svg class="svg-icon">
            <use xlink:href="{{ '/assets/minima-social-icons.svg#github' | relative_url }}">
            </use>
          </svg>GitHub
        </span>
      </a>
      {%- endif -%}
    </p>
  </header>

  {% if page.audio %}
  {% include open-embed.html %}
  <audio src="/assets/audio/{{ page.audio }}.mp3" controls preload></audio>
  {% endif %}

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
<script src="https://utteranc.es/client.js"
  repo="mastermedo/mastermedo.github.io"
  issue-term="pathname"
  label="website comment"
  theme="github-light"
  crossorigin="anonymous"
  async>
</script>
